<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>404 Page Not Found</title>
<link href='http://fonts.googleapis.com/css?family=Amarante' rel='stylesheet' type='text/css'>
</head>
<body class="body">    
    <div class="wrap">
        <div class="logo">
            <img src="../../../assets/img/DogError404.jpg">            
            <button routerLink="/auth/login" class="ancho button" mat-raised-button color="primary" >Volver a Log In</button>    
        </div>
     </div>
</body>
</html>
