<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
        <span>Menu</span>
        <span class="spacer"></span>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
       
    </mat-toolbar>
    <mat-nav-list>
        <a routerLink="/usuarios/listar"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Listado de usuarios</span>

        </a>
        <a routerLink="/usuarios/crear"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Crear usuarios</span>

        </a>
    </mat-nav-list>
</mat-sidenav>
<!--pasar Nav a la carpeta navbar-->
    <mat-toolbar>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
            <span>{{auth.usuario}}</span>
        <button mat-button (click)="logout()" > Cerrar sesión </button>
        
    </mat-toolbar>

    <router-outlet></router-outlet>
    
    </mat-sidenav-container>
    